# STRIPE_SECRET_KEY# Chave Secreta Conta de Teste
STRIPE_SECRET_KEY= Insira a chave secreta do Stripe

#Postgres config
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=123456
DB_DATABASE=dev-burguer-db

# Server config
PORT=3001

#Mongo config
MONGO_URL='mongodb://localhost:27017/devburguer'